/*This is the website overall format. When you change this you change the entire website!! so be careful!*/
/*Table Headers*/
th {
  font-size: 20px;
  font-weight: bold;
}
/*Paragraph Format*/
p {
  font-family: Times New Roman, serif;
  font-size: 16px
}
/*Bold Format*/
b {
  font-weight: bold;
}
/*Italics Format*/
i {
  font-style: italic;
}
u {
  text-decoration-line: underline; 
}
/*Overall Heading Format*/
h1, h2, h3, h4, h5 {
  font-family: Tahoma, san-serif;
  font-weight: bold;
}
/*Title Format*/
h1 {
  font-size: 30px;
  text-align: center;
}
/*Section Title Format*/
h2 {
  font-size: 26px;
  text-align: center;
}
/*Heading 1 Format*/
h3 {
  font-size: 24px;
}
/*Heading 2 Format*/
h4 {
  font-size: 22px;
}
/*Heading 3 Format*/
h5 {
  font-size: 20px;
}


/*Background Style*/
.bgd {
  position: fixed;
  background-color: #234199; 
  left: 0;
  top: 0;
  z-index: -1;
}
/*Navbar table*/
.navTb {
  position: fixed;
  top: -5px;
  left: 1%;
  margin-left: 35px;
  margin-right: 40px;
  width: 95%;
  border-radius: 10px;
  z-index: 1;
}
/*Nav Button Style*/
.navEl{
  background-color: #4CAF50;
  padding: 0px;
  top:35px;
  margin: 0px;
  border-radius: 30px;
  transition-duration: 0.3s;
}
/*Header Text*/
.navTxt {
  font: 10px;
  height: 0px;
  opacity: 0%;
  transition: 0.3s;
}
/*header image*/
.navImg {
  padding: 1px;
  width: 35px;
  height: 35px;
  opacity: 100%;
}
/*Header Image Tilt*/
#navEl:hover > #navImg{
  opacity: 30%;
  filter: blur(0.5px);
  -webkit-filter: blur(0.5px);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}
/*Nav Text Animation*/
#navEl:hover > #navTxt {
  font: 25px Tahoma, san-serif;
  opacity: 100%;
}
.navTb {
  transition: margin-left .5s;
}
/*The body of the article*/
.mainContent {
  margin-top: 75px;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 100px;
  padding: 30px 60px;
	color: black;
  background-color: white;
	opacity: 95%;
	border-radius: 30px;
  transition: 0.5s;
}
/*Main Content animation*/
.mainContent:hover {
  opacity: 100%;
}
/*Footer Div*/
.footer {
	position: fixed;
	left: 0;
	bottom: 1%;
  width: 100%;
	color: #BDBDBD;
	opacity: 75%;
  transition: 1s
}
/*Footer Table*/
.footerTb {
  width: 100%;
}
/*Footer Animation*/
.footer:hover {
  color: black;
  opacity: 100%;
  bottom: 2.5%;
}
/*Anitmation for rotate and scale*/
.grow {
  width: 50px;
  height: 50px;
  padding: 3px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
/*hover transition*/
.grow:hover {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}
.sidenav {
  width: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0;
  opacity: 90%;
  background-color: #64E3FF;
  border-radius: 30px;
  transition: 0.5s;
  padding-top: 60px;
  overflow-y: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar{
  display: none;
}
.sideNavBtn {
  margin-top: 35px;
  background-color: #64E3FF;
  border-radius: 30px;
}
.sidenav a, .dropdown-btn {
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  border: none;
  border-radius: 30px;
  transition: 0.3s;
}

.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}
.active {
  background-color: #00FFB6;
  color: white;
}
.dropdown-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #63FFA3;
  padding-left: 15px;
  font-size: 20px;
  border-radius: 30px;
  transition: height 0.3s ease-in;
}
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.MainContent {
  transition: margin-left .3s;
}
.sideNavBtn {
  transition: opacity .5s;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.EquationTB {
  width: 100%;
  position: relative;
}
.EquationTB, .EqId, .EqNm, .Equation, .EqRe, .EqEx {
  text-align: center;
}
.EqTBHeader {
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4)
}
.Equation {
  font-size: 20px;
}
.hide {
  display: none;
}
.labels{
}
.MainContent {
  min-height: 3000px;
}
[data-toggle="toggle"] {
  display: none;
}
a:link, a:visited {
  text-decoration: none !important;
  color: #0645ad !important;
}
.secSep {
  height: 15px;
}
.mainSep {
  height: 45px;
}
.noScrollBar::-webkit-scrollbar{
  display: none;
}
.noScrollBar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
